.card {
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
	z-index: 0;
}

.nameFilm {
  color: var(--gray-000);
  font-size: 1rem;
  font-family: var(--font-title);
  font-weight: 700;
  margin-top: 0.875rem;
}

.image {
  height: 300px;
  width: 400px;
  border-radius: 12px;
	object-fit: cover;
}

.category {
  color: var(--gray-300);
  font: 0.875rem;
  font-family: var(--font-secundary);
  font-weight: 400;
}

.hover {
  transition: 0.2s;
}

.hover:hover {
  box-shadow: 0 0 0 5px #3b83f65f;
}
