@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background-color: #18181B;
	color: #FFFFFF;
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr 64px;
}