* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-title: var(--font-poppins), 'sans-serif';
  --font-secundary: var(--font-inter), 'sans-serif';

  --gray-000: #fff;
  --gray-100: #f2f2f2;
  --gray-200: #e7e7e7;
  --gray-300: #cbcbcb;
  --gray-400: #9b9b9b;
  --gray-500: #6b6b6b;
  --gray-600: #181818;
  --gray-700: #0e0e0e;
  --gray-800: #000000;

  --gradient: linear-gradient(to left #2859a8, #3b82f6);
  --blue-100: #3b82f6;
  --blue-200: #2859a8;
}

body {
  background: #000;
  color: #333;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
  margin: 0px;
}

p {
  font-family: var(--font-secundary);
  margin: 0px;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  font-size: 1rem;
  color: var(--gray-500);
}

a {
  text-decoration: none;
	font-family: var(--font-title);
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  display: block;
}

.h1-48 {
  font-family: var(--font-poppins);
  font-size: 3rem;
  color: var(--gray-000);
  line-height: 3rem;
}

.p-16 {
  font-family: var(--font-secundary);
  font-size: 1rem;
  color: var(--gray-300);
  line-height: 190%;
}

.h3-32 {
  font-family: var(--font-secundary);
  font-size: 2rem;
  color: var(--gray-000);
  font-weight: 700;
}

.container {
  margin: 0 auto;
  padding: 0 9rem;
}

button {
  cursor: pointer;
  border: none;
}

.margin-120 {
  margin-top: 7.5rem;
}

.margin-64 {
  margin-top: 4rem;
}

.margin-32 {
  margin-top: 2rem;
}

.margin-16 {
  margin-top: 1rem;
}

.margin-8 {
  margin-top: 0.5rem;
}
