.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 0;
}

.nameFilm {
  color: var(--gray-000);
  font-size: 1rem;
  font-family: var(--font);
  font-weight: 700;
  margin-top: 0.875rem;
}

.image {
  height: 350px;
  min-width: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.category {
  color: var(--gray-300);
  font: 0.875rem;
  font-family: var(--font);
  font-weight: 400;
}

.hover {
  transition: 0.2s;
}

.hover:hover {
  box-shadow: 0 0 0 5px #3b83f65f;
}

.character {
  color: var(--gray-300);
  font-size: 0.875rem;
  font-family: var(--font);
  font-weight: 400;
  margin-top: 8px;
}

.noImage {
  display: block;
  position: relative;
  overflow: hidden;
  background: #3d3d3d;
  height: 350px;
  width: 100%;
  border-radius: 12px;
}

.noImage::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    transparent 0%,
    #525252 50%,
    transparent 100%
  );
  animation: skeleton-loading 1.5s infinite linear;
}

@keyframes skeleton-loading {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
