.titleFilm {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.position {
  position: absolute;
  bottom: 10%;
}

.image {
  position: relative;
  width: 100%;
  padding: 0 1rem;
  border-radius: 48px;
  filter: brightness(0.3);
  height: calc(100vh - 96px);
  object-fit: cover;
}

.width {
  width: 863px;
}

.buttonContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controller {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.buttonNext,
.buttonPrev {
  display: flex;
  align-items: center;
  margin: auto;
  background-color: #ffffff1e;
  border-radius: 12px;
  padding: 0.5rem;
	transform: .2s;
}

.buttonNext:hover,
.buttonPrev:hover {
	scale: 1.1;
}